:root {
  --white: #fff;
  --dark: #dadada;
  --error: #ff4e4e;
  --bg: #eee;
  --border: #000;
  --link: #07c;
  --header: #F5EBE0;
  --footer: #F2DEBA;
  --entry: #F5EBE0;
}
body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: var(--bg);
  accent-color: var(--entry);
}
body.popup {
  width: 600px;
  height: 500px;
}
tabs-view {
  --bg-dark: var(--header);

  flex: 1;
  background-color: var(--white);
}
input[type=file] {
  display: none;
}
a {
  color: var(--link);
}
select {
  height: 32px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  padding-inline: 10px;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
#display {
  position: relative;
}
#display::before {
  content: attr(data-message);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  white-space: normal;
  padding: 0 20px;
  font-size: 120%;
  text-align: center;
}
#display > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#display canvas,
#display video {
  max-width: 100%;
  max-height: 100%;
}
#display[data-mode=video] canvas,
#display[data-mode=video] video {
  width: 100%;
  height: auto;
}
div[data-id="tools"] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--footer);
}
div[data-id="tools"] input[type=checkbox] {
  display: none;
}
div[data-id="tools"] input:not(:checked) + svg > path {
  display: none;
}
[data-id="tools"] > * {
  padding: 10px;
  text-align: center;
  min-width: 100px;
  height: 28px;
  line-height: 28px;
  user-select: none;
  background-color: transparent;
  position: relative;
}
[data-id="tools"] input {
  border: none;
  outline: none;
  font-size: inherit;
  background-color: transparent;
}
[data-id="tools"]:not(:hover) > *:not(:last-child)::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
  width: 1px;
  background-color: var(--border);
  height: 16px;
}
[data-id="tools"] > *:hover:not(:has(:disabled)) {
  background-color: var(--header);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  [data-id="tools"] > * {
    flex: 1;
  }
}
[data-id="tools"] svg {
  margin-right: 5px;
  margin-top: -2px;
}
#history {
  position: relative;
  overflow: auto;
}
#history:empty::before {
  content: 'There is no history to display!';
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#history > label {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 10px;
  grid-gap: 5px 2px;
  align-items: center;
}
#history pre {
  font-family: inherit;
  margin: 0;
  white-space: pre-line;
  grid-column: 1/3;
  padding: 10px;
  background-color: var(--entry);
}
#history input[type=checkbox] {
  justify-self: start;
}

@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #f0f22f;
  }
  100% {
    background-color: transparent;
  }
}

div[data-tab="scan"] {
  position: relative;
}
#devices {
  position: absolute;
  outline: none;
  z-index: 10000;
  top: 10px;
  right: 10px;
}
#devices:empty {
  display: none;
}

[hbox] {
  display: flex;
  justify-content: center;
  align-items: center;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
